body {
  font-weight: 600;
}

.question-text-container {
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto Mono', monospace;
}

input {
  border: none; outline: none; background: transparent; box-shadow: none;
}

input:focus {
  border: none; outline: none; background: transparent; box-shadow: none;
}