{% extends "base_generic.html" %}

{% block content %}
    <div>
        <form method="post" action="{% url 'submit_response' test_id=question.test_id question_id=question.pk %}">
            {% csrf_token %}
            <div class="question-item" style="padding-bottom: 70px;">
                <h3 style="padding-bottom: 20px;">Exercise {{ question.id }}</h3>
                <p>{{ question.description }}</p>
                <div class="question-text-container" style="background-color: #f0f0f0; padding: 10px; font-family: 'Roboto Mono', monospace;">
                    <p style="margin: 0;">{{ formatted_text|safe }}</p>
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
    </div>
{% endblock %}
